body {
  background-color: #e0e0e0;
}
section{
  position: relative;
  width:100%;
}

#gameui {
  width: 800px;
  height:600px;

  margin: 0 auto;

}
#gameui canvas{
   position: absolute;
}
#canvas {
  /*background: url('../img/bg.jpg');*/
  /* background-color: #eee;   */
}